/*_reset.scss*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/*_button.scss*/
/*_variables.scss*/
/*_utils.scss*/
/*_button.scss*/
/*_animations.scss*/
@-webkit-keyframes profileMovement {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes profileMovement {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes colorText {
  0% {
    color: #fff;
  }
  50% {
    color: #0ef;
    text-shadow: 0 0 20px #0ef;
  }
  100% {
    color: #fff;
  }
}
@keyframes colorText {
  0% {
    color: #fff;
  }
  50% {
    color: #0ef;
    text-shadow: 0 0 20px #0ef;
  }
  100% {
    color: #fff;
  }
}
@keyframes colorText_two {
  0% {
    color: #0ef;
  }
  50% {
    color: #0ef;
    text-shadow: 0 0 20px #0ef;
  }
  100% {
    color: #0ef;
  }
}
@-webkit-keyframes imageGlow {
  0% {
    filter: drop-shadow(0 0 30px #0ef);
    -webkit-filter: drop-shadow(0 0 30px #0ef);
  }
  50% {
    filter: drop-shadow(0 0 20px #0ef);
    -webkit-filter: drop-shadow(0 0 20px #0ef);
  }
  100% {
    filter: drop-shadow(0 0 30px #0ef);
    -webkit-filter: drop-shadow(0 0 30px #0ef);
  }
}
@keyframes imageGlow {
  0% {
    filter: drop-shadow(0 0 30px #0ef);
    -webkit-filter: drop-shadow(0 0 30px #0ef);
  }
  50% {
    filter: drop-shadow(0 0 20px #0ef);
    -webkit-filter: drop-shadow(0 0 20px #0ef);
  }
  100% {
    filter: drop-shadow(0 0 30px #0ef);
    -webkit-filter: drop-shadow(0 0 30px #0ef);
  }
}
.animation_image-glow, .sobremi__img, .inicio__perfilimg-img {
  animation: imageGlow 4s infinite ease-in-out;
  -webkit-animation: imageGlow 4s infinite ease-in-out;
}

.animation_color-text_6s, .contacto__form label, .contacto__title--span, .habilidades__title--span, .proyectos__sub-subtitle--span, .sobremi__title--span, .inicio__subtitle-strong, .material-symbols-outlined:last-of-type,
.fonts-icons:last-of-type {
  animation: colorText 6s infinite ease-in-out;
  -webkit-animation: colorText 6s infinite ease-in-out;
}

.animation_color-text_two_6s, .sobremi__item--strong {
  animation: colorText_two 6s infinite ease-in-out;
  -webkit-animation: colorText_two 6s infinite ease-in-out;
}

.animation_profile-movement_4s, .habilidades__img, .profileimg_container-properties, .sobremi__img-container, .inicio__perfilimg {
  animation: profileMovement 4s infinite ease-in-out;
  -webkit-animation: profileMovement 4s infinite ease-in-out;
}

.flex-row_spc-btw, .contacto__socialcard, .habilidades__textcontainer, .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col_spc-btw, .contacto__otrasredes, .habilidades__principal, .proyectos__card, .proyectos__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row_spc-evly, .footer__copy, .contacto__container, .habilidades__container, .proyectos__container, #sobremi, #inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col_spc-evly, #contacto, .contacto__form, #habilidades, .habilidades__code, #proyectos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row_center, .proyectos__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-col_center, .sobremi__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-row_spc-evly_only, .footer__allcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.flex-col_spc-btw_only, .footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cursor-def_userslct-none, .nav__subtitle {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.transition_color-textshadow, .footer__social,
.footer__help,
.footer__curriculumtext,
.footer__secciones, .contacto__socialcard, .inicio__red, .nav__a {
  transition: color, text-shadow 0.2s;
  -webkit-transition: color, text-shadow 0.2s;
  -moz-transition: color, text-shadow 0.2s;
  -ms-transition: color, text-shadow 0.2s;
  -o-transition: color, text-shadow 0.2s;
}

.transition_box-shadow, .btn, .btn-secondary, .footer__curriculumbutton, .inicio__downloadCVbutton, .contacto__form button, .proyectos__button, .sobremi__more {
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -ms-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
}

.transform_rotate, .proyectos__img--signomas {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.transform_rotate-hover, .proyectos__img--signomas:hover {
  transform: rotate(90deg) scale(1.2);
  -webkit-transform: rotate(90deg) scale(1.2);
  -moz-transform: rotate(90deg) scale(1.2);
  -ms-transform: rotate(90deg) scale(1.2);
  -o-transform: rotate(90deg) scale(1.2);
}

.border-rad_20px, .footer__line-between, .contacto__socialcard, .line-between, .contacto__form, .habilidades__principal, .habilidades__carddescription, ::-webkit-scrollbar-thumb, ::-webkit-progress-bar, ::-webkit-progress-value, .card, .card--proyects, .sobremi__card, .proyectos__card, .btn, .btn-secondary, .footer__curriculumbutton, .inicio__downloadCVbutton, .contacto__form button, .proyectos__button, .sobremi__more {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.border-rad_10px, .footer__help i, .contacto__form input,
.contacto__form textarea, .contacto__form button {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.border-rad_50percent, .contacto__otrasredes i {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.border-rad_topLR_20px, .proyectos__title {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-top-left-radius: 20px;
  -ms-border-top-left-radius: 20px;
  -o-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-top-right-radius: 20px;
  -ms-border-top-right-radius: 20px;
  -o-border-top-right-radius: 20px;
}

.border-rad_bottomLR_20px, .proyectos__img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-bottom-left-radius: 20px;
  -ms-border-bottom-left-radius: 20px;
  -o-border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-bottom-right-radius: 20px;
  -ms-border-bottom-right-radius: 20px;
  -o-border-bottom-right-radius: 20px;
}

.profileimg_container-properties, .sobremi__img-container, .inicio__perfilimg {
  width: 25rem;
  height: 25rem;
}

.profileimg_properties, .sobremi__img, .inicio__perfilimg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(1.4) rotate(0.06deg);
  -ms-transform: scale(1.4) rotate(0.06deg);
  transform: scale(1.4) rotate(0.06deg);
  filter: drop-shadow(0 0 30px var(--main-color));
  -webkit-filter: drop-shadow(0 0 30px var(--main-color));
}

.sections_w-and-h, #contacto, #habilidades, #proyectos, #sobremi {
  width: 100%;
  height: 100vh;
}

.w-and-h_100percent, .proyectos__card-info {
  width: 100%;
  height: 100%;
}

.btn, .footer__curriculumbutton, .inicio__downloadCVbutton {
  background-color: #0ef;
  color: #1f242d;
  padding: 15px;
  margin-top: 15px;
  width: 200px;
  -webkit-box-shadow: 0 0 10px #0ef;
  box-shadow: 0 0 10px #0ef;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
.btn:hover, .footer__curriculumbutton:hover, .inicio__downloadCVbutton:hover {
  -webkit-box-shadow: 0 0 20px #0ef;
  box-shadow: 0 0 20px #0ef;
}

.btn-secondary, .contacto__form button, .proyectos__button, .sobremi__more {
  background-color: #0ef;
  padding: 15px;
  width: 100%;
  -webkit-box-shadow: 0 0 10px #0ef;
  box-shadow: 0 0 10px #0ef;
  cursor: pointer;
  text-decoration: none;
  color: #1f242d;
  font-weight: bold;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
}
.btn-secondary:hover, .contacto__form button:hover, .proyectos__button:hover, .sobremi__more:hover {
  -webkit-box-shadow: 0 0 20px #0ef;
  box-shadow: 0 0 20px #0ef;
}

/*_card.scss*/
.card, .habilidades__principal, .sobremi__card {
  width: 100%;
  background-color: #1f242d;
  padding: 20px;
  -webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.7), -10px -10px 50px rgba(255, 255, 255, 0.05);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.7), -10px -10px 50px rgba(255, 255, 255, 0.05);
  border-bottom: 2px solid #0ef;
}

.card--proyects, .proyectos__card {
  width: 28%;
  height: 100%;
  background-color: #323946;
  padding: 20px;
  border-bottom: 2px solid #0ef;
}

/*_navbar.scss*/
.nav {
  width: 80vw;
  height: 14vh;
  margin: auto;
  padding: 1.4rem;
  background-color: #1f242d;
}

.nav__subtitle {
  font-size: 1.8rem;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__a {
  text-decoration: none;
  color: #fff;
  margin-left: 2rem;
  font-size: 1.1rem;
}
.nav__a:hover {
  color: #0ef;
  text-shadow: 0px 0px 30px #fff;
}

.active {
  color: #0ef;
  text-shadow: 0px 0px 30px #fff;
}

.burger {
  filter: invert(1);
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

@media screen and (max-width: 425px) {
  .nav,
  .nav__ul {
    flex-wrap: wrap;
    padding: 1rem;
    height: fit-content;
  }
  .nav__ul {
    display: none;
  }
  .nav__ul.visible {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #0ef;
    z-index: 200;
  }
  .burger {
    color: #fff;
    z-index: 300;
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
  }
}
/*_global.scss*/
/*_fonts.scss*/
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
* {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1f242d;
  color: #fff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  padding: 10px;
  background-color: #0ef;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

progress {
  -webkit-appearance: none;
}

::-webkit-progress-bar {
  background-color: #323946;
}

::-webkit-progress-value {
  background-color: #0ef;
}

/*_icons.scss*/
.material-symbols-outlined,
.fonts-icons {
  padding: 0 10px;
  font-size: 1.5rem;
  text-align: center;
}
/*_inicio.scss*/
#inicio {
  width: 100vw;
  height: 86vh;
}

.inicio__sub-subtitle,
.inicio__title,
.inicio__subtitle {
  padding: 4px;
}

.inicio__sub-subtitle {
  font-size: 1.3rem;
}

.inicio__title {
  font-size: 3rem;
}

.inicio__subtitle {
  font-size: 1.7rem;
}
.inicio__parrafo,
.inicio__social {
  margin-top: 15px;
}

.inicio__parrafo {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 6px;
}

.inicio__red {
  color: #0ef;
  padding: 6px;
}
.inicio__red:hover {
  text-shadow: 0 0 20px #0ef;
}

.inicio__red-link {
  font-size: 2.5rem;
}

.inicio__downloadCVbutton {
  padding: 15px;
}

@media screen and (max-width: 425px) {
  #inicio {
    flex-wrap: wrap;
    height: fit-content;
    padding: 1.7rem;
  }
  .inicio__perfilimg {
    display: none;
  }
  .inicio__sub-subtitle {
    font-size: 1.2rem;
  }
  .inicio__subtitle {
    font-size: 1.3rem;
  }
  .inicio__social {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
  }
  .inicio__red-link {
    font-size: 3.5rem;
  }
  .inicio__downloadCVbutton {
    width: 100%;
  }
}
/*_sobremi.scss*/
#sobremi {
  background-color: #323946;
}

.sobremi__info {
  height: 80vh;
  padding: 1.7rem;
  font-size: 3rem;
}

.sobremi__title {
  text-align: center;
  margin-bottom: 15px;
}
.sobremi__item {
  padding: 10px;
  list-style: none;
  font-size: 1.1rem;
}
@media screen and (max-width: 425px) {
  #sobremi {
    flex-wrap: wrap;
    height: fit-content;
    padding: 1.4rem;
  }
  .sobremi__img-container {
    display: none;
  }
  .sobremi__title {
    font-size: 2rem;
  }
  .sobremi__info {
    padding: 0;
    height: fit-content;
  }
  .sobremi__card {
    width: 100%;
  }
  .sobremi__item {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 2px;
  }
}
/*_proyectos.scss*/
#proyectos {
  background-color: #1f242d;
}

.proyectos__sub-subtitle {
  font-size: 3rem;
}
.proyectos__container {
  height: 75vh;
}

.proyectos__title {
  color: #323946;
  font-weight: bold;
  background-color: #0ef;
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  padding: 20px;
}

.proyectos__img {
  width: 100%;
  height: 80vh;
  border-bottom: 3px solid #0ef;
}

.proyectos__img--first_photo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../../public/assets/images/interior.PNG);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../public/assets/images/interior.PNG);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../public/assets/images/interior.PNG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.proyectos__img--second_photo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../../public/assets/images/mmarquez.PNG);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../public/assets/images/mmarquez.PNG);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../public/assets/images/mmarquez.PNG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.proyectos__img--third_photo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../../public/assets/images/darkmode.PNG);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../public/assets/images/darkmode.PNG);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../public/assets/images/darkmode.PNG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.proyectos__img--signomas {
  font-size: 3rem;
  background: black;
  border-radius: 100px;
  padding: 10px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.proyectos__text {
  font-size: 1rem;
  padding: 15px;
  line-height: 1.7rem;
  text-align: center;
}

@media screen and (max-width: 425px) {
  #proyectos {
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
    padding: 1.7rem;
  }
  .proyectos__sub-subtitle {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .proyectos__container {
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .proyectos__card {
    width: 100%;
    margin: 8px 0;
  }
  .proyectos__img {
    height: 120px;
  }
  .proyectos__card-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .proyectos__text {
    display: none;
  }
  .proyectos__button {
    display: none;
  }
}
/*_habilidades.scss*/
#habilidades {
  background-color: #323946;
}

.habilidades__title {
  text-align: center;
  font-size: 3rem;
}
.habilidades__container {
  width: 100vw;
}

.habilidades__principal {
  width: 40%;
  height: 100%;
  padding: 0.7rem;
  background-color: #1f242d;
}

.habilidades__carddescription {
  width: 100%;
  padding: 10px;
}

.habilidades__cardtext {
  font-size: 1.2rem;
}

.habilidades__progress {
  width: 100%;
  margin-top: 5px;
}

.habilidades__code {
  width: 40%;
  height: 100%;
}

.habilidades__img {
  opacity: 0;
  position: absolute;
  filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.7));
  -webkit-filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.7));
}
.habilidades__img:nth-child(1) {
  width: 390px;
}
.habilidades__img:nth-child(2) {
  width: 290px;
}
.habilidades__img:nth-child(3) {
  width: 450px;
}
.habilidades__img:nth-child(4) {
  width: 380px;
}
.habilidades__img:nth-child(5) {
  width: 220px;
}
.habilidades__img:nth-child(6) {
  width: 450px;
}
.habilidades__img:nth-child(7) {
  width: 500px;
}

@media screen and (max-width: 425px) {
  #habilidades {
    height: fit-content;
    padding: 1.7rem;
  }
  .habilidades__title {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  .habilidades__container {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .habilidades__principal {
    width: 100%;
  }
  .habilidades__img {
    display: none;
  }
}
/*_contacto.scss*/
#contacto {
  background-color: #1f242d;
}

.contacto__container {
  width: 100%;
  height: 75vh;
}

.contacto__otrasredes {
  height: 100%;
  width: 40vw;
}
.contacto__otrasredes a {
  text-decoration: none;
  color: #fff;
}
.contacto__otrasredes i {
  color: #1f242d;
  background-color: #0ef;
  padding: 10px;
  font-size: 2rem;
}

.contacto__socialcard {
  background-color: #323946;
  width: 100%;
  padding: 15px;
}
.contacto__socialcard:hover {
  color: #0ef;
  text-shadow: 0 0 20px #0ef;
}

.line-between {
  width: 2px;
  height: 90%;
  background-color: #323946;
}

.contacto__form {
  width: 40vw;
  height: 100%;
  padding: 1.5rem;
  background-color: #323946;
}
.contacto__form label {
  font-size: 1.1rem;
}
.contacto__form input:focus,
.contacto__form textarea:focus {
  outline: none;
}
.contacto__form input:focus::-webkit-input-placeholder,
.contacto__form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.contacto__form input:focus::-moz-placeholder,
.contacto__form textarea:focus::-moz-placeholder {
  color: transparent;
}
.contacto__form input:focus:-ms-input-placeholder,
.contacto__form textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.contacto__form input:focus::-ms-input-placeholder,
.contacto__form textarea:focus::-ms-input-placeholder {
  color: transparent;
}
.contacto__form input:focus::placeholder,
.contacto__form textarea:focus::placeholder {
  color: transparent;
}
.contacto__form input,
.contacto__form textarea {
  width: 100%;
  margin: 6px 0 20px 0;
  font-family: "Poppins", comic sans;
  border: none;
  padding: 10px;
}
.contacto__form textarea {
  resize: none;
  height: 150px;
}
.contacto__form button {
  border: none;
}

.contacto__title {
  font-size: 3rem;
}
@media screen and (max-width: 425px) {
  #contacto {
    height: fit-content;
    padding: 0 1.7rem 1.7rem 1.7rem;
  }
  .contacto__title {
    font-size: 2rem;
    margin: 20px 0;
  }
  .contacto__container {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  .contacto__otrasredes {
    width: 100%;
    height: fit-content;
    padding: 0;
  }
  .contacto__otrasredes i {
    font-size: 0.9rem;
  }
  .contacto__socialcard {
    padding: 0 10px 0 0;
    font-size: 0.8rem;
  }
  .contacto__socialcard:last-child {
    display: none;
  }
  .line-between {
    display: none;
  }
  .contacto__form {
    margin-top: 15px;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .contacto__form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }
  .contacto__form label {
    font-size: 0.9rem;
    width: 100%;
  }
  .contacto__form input,
  .contacto__form textarea {
    width: 100%;
    font-size: 0.7rem;
    padding: 7px;
    margin: 8px 0;
  }
  .contacto__form textarea {
    height: 150px;
  }
  .contacto__form button {
    padding: 5px;
    font-size: 0.7rem;
  }
}
/*_footer.scss*/
.footer__allcontainer {
  border-top: 3px solid #0ef;
  width: 100%;
  height: 40vh;
  background-color: #323946;
  padding: 2rem;
}

.footer a {
  display: inline-block;
  width: fit-content;
}

.footer__line-between {
  width: 2px;
  height: 100%;
  background-color: #1f242d;
}

.footer__section {
  width: 20%;
  height: 100%;
  font-size: 0.7rem;
  padding: 10px 0;
}

.footer__title {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.footer__social,
.footer__help,
.footer__curriculumtext,
.footer__secciones {
  text-decoration: none;
  color: #8a9094;
}

.footer__social:hover,
.footer__help:hover,
.footer__secciones:hover {
  color: #0ef;
  text-shadow: 0 0 20px #0ef;
}

.footer__help i {
  margin-right: 10px;
  padding: 10px;
  background-color: #1f242d;
}

.footer__curriculumtext {
  line-height: 1.5rem;
  font-size: 0.8rem;
}

.footer__copy {
  background-color: #2c333e;
}

.footer__copytext {
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem;
  color: #8a9094;
}

@media screen and (max-width: 425px) {
  .footer {
    height: fit-content;
  }
  .footer__allcontainer {
    flex-wrap: wrap;
    height: 100%;
    padding: 1.4rem;
  }
  .footer__section {
    width: 100vw;
    height: fit-content;
  }
  .footer__line-between {
    display: none;
  }
  .footer__secciones,
  .footer__social,
  .footer__help {
    padding: 2px;
    font-size: 0.8rem;
  }
  .footer__curriculumtext {
    line-height: 1rem;
  }
  .footer__copytext {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=styles.css.map */
