/*_card.scss*/
@use '../global/variables' as variables;
@use '../global/utils' as utils;

.card {
  width: 100%;
  background-color: variables.$bg-color;
  padding: 20px;
  @extend .border-rad_20px;
  -webkit-box-shadow: 10px 10px 50px rgba(0,0,0,0.7),
  -10px -10px 50px rgba(255, 255, 255, 0.05);
          box-shadow: 10px 10px 50px rgba(0,0,0,0.7),
  -10px -10px 50px rgba(255, 255, 255, 0.05);
  border-bottom: 2px solid variables.$main-color;
}

.card--proyects{
  width: 28%;
  height: 100%;
  background-color: variables.$second-bg-color;
  padding: 20px;
  @extend .border-rad_20px;
  border-bottom: 2px solid variables.$main-color;
}