/*_sobremi.scss*/
@use '../global/variables' as variables;
@use '../global/utils' as utils;
@use '../global/animations' as animations;
@use '../components/card' as card;
@use '../components/button' as button;

#sobremi{
    @extend .sections_w-and-h;
    background-color: variables.$second-bg-color;
    @extend .flex-row_spc-evly;
}

    .sobremi__img-container{
        @extend .profileimg_container-properties;
    }

    .sobremi__img{
        @extend .profileimg_properties;
        @extend .animation_image-glow;
    }

    .sobremi__info{
        height: 80vh;
        padding: 1.7rem;
        font-size: 3rem;
        @extend .flex-col_center;
    }

    .sobremi__title{
        text-align: center;
        margin-bottom: 15px;

        &--span{
            @extend .animation_color-text_6s;
        }
    }

    .sobremi__card{
        @extend .card;
    }

    .sobremi__item{
        padding: 10px;
        list-style: none;
        font-size: 1.1rem;

        &--strong{
            @extend .animation_color-text_two_6s;
        }
    }

    .sobremi__more{
        @extend .btn-secondary;
    }

@media screen and (max-width: 767px){

    #sobremi{
        flex-wrap: wrap;
        height: fit-content;
        padding: 1.4rem;
    }

    .sobremi__img-container{
        display: none;
    }

    .sobremi__title{
        font-size: 2rem;
    }

    .sobremi__info{
        padding: 0;
        height: fit-content;
    }

    .sobremi__card{
        width: 100%;
    }

    .sobremi__item{
        font-size: 1rem;
        line-height: 2rem;
        padding: 2px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px){

    #sobremi{
        padding: 1.7rem;
    }

    .sobremi__title{
        font-size: 2rem;
    }

    .sobremi__item{
        font-size: 1rem;
    }

    .sobremi__img-container{
        width: 22rem;
        height: 22rem;
    }

}