/*_footer.scss*/
@use '../global/utils' as utils;
@use '../global/variables' as variables;
@use '../components/button' as button;

.footer__allcontainer{
  border-top: 3px solid variables.$main-color;
  width: 100%;
  height: 40vh;
  background-color: variables.$second-bg-color;
  @extend .flex-row_spc-evly_only;
  padding: 2rem;
}

.footer a{
  display: inline-block;
  width: fit-content;
}

.footer__line-between{
  width: 2px;
  height: 100%;
  background-color: variables.$bg-color;
  @extend .border-rad_20px;
}

.footer__section{
  @extend .flex-col_spc-btw_only;
  width: 20%;
  height: 100%;
  font-size: 0.7rem;
  padding: 10px 0;
}

.footer__title{
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.footer__social,
.footer__help,
.footer__curriculumtext,
.footer__secciones{
  text-decoration: none;
  color: variables.$smalltext-color;
  @extend .transition_color-textshadow;
}

.footer__social:hover,
.footer__help:hover,
.footer__secciones:hover{
  color: variables.$main-color;
  text-shadow: 0 0 20px variables.$main-color;
}

.footer__help i{
  margin-right: 10px;
  padding: 10px;
  background-color: variables.$bg-color;
  @extend .border-rad_10px;
}

.footer__curriculumtext{
  line-height: 1.5rem;
  font-size: 0.8rem;
}

.footer__curriculumbutton{
  @extend .btn;
}

.footer__copy{
  @extend .flex-row_spc-evly;
  background-color: #2c333e;
}

.footer__copytext{
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem;
  color: variables.$smalltext-color;
}

@media screen and (max-width: 767px){

  .footer{
    height: fit-content;
  }

  .footer__allcontainer{
    flex-wrap: wrap;
    height: 100%;
    padding: 1.4rem;
  }

  .footer__section{
    width: 100vw;
    height: fit-content;
  }

  .footer__line-between{
    display: none;
  }

  .footer__secciones,
  .footer__social,
  .footer__help{
    padding: 2px;
    font-size: 0.8rem;
  }

  .footer__curriculumtext{
    line-height: 1rem;
  }

  .footer__copytext{
    font-size: 0.7rem;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px){

  .footer__allcontainer{
    padding: 1.5rem;
  }

  .footer__curriculumtext{
    line-height: 1rem;
    font-size: 0.7rem;
  }

  .footer__help{
    font-size: 0.6rem;
  }

  .footer__help i{
    display: none;
    margin: 0;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1170px){

  .footer__help i{
    display: none;
  }

  .footer__curriculumtext{
    line-height: 1rem;
    font-size: 0.7rem;
  }

}

@media screen and (min-width: 1170px) and (max-width: 1223px){

  .footer__curriculumtext{
    line-height: 1rem;
    font-size: 0.7rem;
  }

}